<div class="d-flex justify-content-center margin">
  <div class="card mt-4 col-2 m-3">
    <img class="card-img-top" src="https://previews.123rf.com/images/sentavio/sentavio1511/sentavio151100356/48576906-flat-style-modern-teamwork-workforce-staff-infographic-concept-conceptual-web-illustration-of-busine.jpg" style="height: 15rem;"alt="Organization">
  </div>

  <div class="card mt-4 col-2 m-3">
    <img class="card-img-top" src="https://previews.123rf.com/images/sentavio/sentavio1605/sentavio160500345/57150075-flat-style-modern-web-infographic-hospital-teamwork-workforce-team-staff-management-concept-doctor-n.jpg" style="height: 15rem;"alt="Practitioner">
  </div>

  <div class="card mt-4 col-2 m-3">
    <img class="card-img-top" src="https://previews.123rf.com/images/vantuz/vantuz1605/vantuz160500030/56617351-doctor-holding-a-syringe-with-injection-boy-is-afraid-stock-vector-illustration-.jpg" style="height: 15rem;" alt="Patient">
  </div>
  <div class="card mt-4 col-2 m-3">
    <img class="card-img-top" src="https://previews.123rf.com/images/sentavio/sentavio1509/sentavio150900357/44798512-medicine-pharmaceutics-modern-technology-treatment-concept-flat-icons-set-of-process-collage-and-vec.jpg" style="height: 15rem;" alt="Examination">
  </div>
</div>
