ngb-toast{
  position: absolute;
  border-radius: 10px;
  top: 60px;
  right: 1rem;
  margin:10;
  color: white;
  background-color: rgb(67, 165, 42);
  font-weight: bold;
  font-size: large;
  width:300px;
  height: 50px;

}
