<div class="d-flex flex-column col-lg-6 col-md-8 m-3 p-3 mx-auto w-25" >

  <h2 *ngIf="!edit">Add new Organization</h2>
  <h2 *ngIf="edit">Edit Organization</h2>
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong class="mx-2">Error!</strong>{{errorMessage}}
  </div>
  <form *ngIf="organizationForm" [formGroup]="organizationForm" >
    <div class="d-flex flex-column">
      <label for="identifier">Identifier</label>
      <input type="text" id="identifier" class="form-control" formControlName="identifier"  />
      <p class="alert alert-danger" *ngIf="hasErrors('identifier', 'minlength')" >
        Identifier must have 5 characters!
      </p>
    </div>
    <div class="d-flex flex-column">
      <label for="type">Type</label>
      <select type="text" id="type" class="form-select" formControlName="type"  >
        <option  *ngFor="let t of organizationTypes | keyvalue" [ngValue]="t.key">{{t.value}}</option>
      </select>
    </div>

    <div class="d-flex flex-column">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name"  />
      <p class="alert alert-danger" *ngIf="hasErrors('name', 'required')" >
        Name is required
      </p>
      <p class="alert alert-danger" *ngIf="hasErrors('name', 'minlength')" >
        Minimal number of characters is 5
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="address">Address</label>
      <input type="text" id="address" class="form-control" formControlName="address"/>
    </div>

    <div class="d-flex flex-column">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" formControlName="phone"/>
      <p class="alert alert-danger" *ngIf="hasErrors('phone', 'pattern')" >
        Phone number is not in valid format!
      </p>
    </div>

    <div class="d-flex flex-column">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email"/>
      <p class="alert alert-danger" *ngIf="hasErrors('email', 'pattern')" >
        Email is not in valid format!
      </p>
    </div>

    <div class="d-flex justify-content-around mt-3">
      <button type="button" [disabled]="organizationForm.invalid" class="btn btn-primary" (click)="onSubmit()">Save</button>
      <button type="button" class="btn btn-danger" routerLink="/organization">Cancel</button>
    </div>
  </form>
</div>

