<div class="main">
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 mx-auto " *ngIf="organization">
		<div class="card h-100">
			<div class="card-body">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Organization Details</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="fullName">Identifier</label>
							<input type="text" disabled class="form-control" id="fullName" value="{{organization.identifier}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="eMail">Organization Type</label>
							<input type="text" disabled class="form-control" id="eMail" value="{{organization.type}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="phone">Organizaiton Name</label>
							<input type="text" disabled class="form-control" id="phone" value="{{organization.name}}">
						</div>
					</div>

				</div>
				<div class="row gutters mt-2">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="Street">Address</label>
							<input type="name" class="form-control" disabled  id="Street" value="{{organization.address}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="ciTy">Phone</label>
							<input type="name" class="form-control" disabled id="ciTy" value="{{organization.phone}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="sTate">Email</label>
							<input type="text" disabled class="form-control" id="sTate" value="{{organization.email}}">
						</div>
					</div>

        <div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 col-12">
						<div class="text-right">
							<button type="button" id="submit" name="submit" routerLink="/organization" class="btn btn-secondary">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




